.card {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    margin-bottom: 1rem;
    padding: 20px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.error{
    color: red;
}
.success{
    color: #28a745;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert-success {
    color: #fff;
    background: #28a745;
    border-color: #23923d;
}
.alert-danger {
    color: #fff;
    background: #dc3545;
    border-color: #d32535;
}
#card-alert.green {
    background-color: #4caf50!important;
}
#card-alert.red {
    background-color: #f44336!important;
}
.white-text p{
    color: #fff;
}
.bg-info {
    background-color: #17a2b8!important;
    color: #fff!important
}
.bg-warning, .bg-warning>a {
    color: #1f2d3d!important;
    background-color: #ffc107!important
}
.bg-success {
    background-color: #28a745!important;
    color: #fff!important
}
.bg-danger {
    background-color: #dc3545!important;
    color: #fff!important
}
.navbar-nav>.user-menu>.dropdown-menu>.user-footer .btn-default {
    padding: 5px 10px;
}
.d-inline {
    display: inline!important;
}
.modal-content{
    /* border: 5px solid rgba(4, 140, 181, 0.83); */
    border: 5px solid #094193;
    border-radius:5px
}
a.link{
    color: #094193;
    padding: 5px 0px;
}
.ck-editor__editable {
    min-height: 300px !important;
}
div.box-profile .dlt{
    color: #094193;
    font-size: 16px;
}
div.box-profile{
    min-height: 400px;
}