<% if(success_msg != ''){ %>
    <div id="card-alert" class="card green">
        <div class="card-content white-text">
          <p><%= success_msg %></p>
        </div>
        <!-- <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button> -->
      </div>
<% } %>

<% if(error_msg != ''){ %>
    <div id="card-alert" class="card red">
        <div class="card-content white-text">
          <p><%= error_msg %></p>
        </div>
        <!-- <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button> -->
      </div>
<% } %>